.login{
    width: 100%;
    height: 100vh;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.loginForm{
    background-color: #FFF;
    width: 360px;
    height: auto;
    margin: auto;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgb(56, 48, 48);
}
.title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: darkred;
    margin-top: 16px;
    margin-bottom: 12px;
}
.error{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: red;
}
.error i{   
    margin-right: 4px;
}
.loginContent{
    width: 100%;
    margin: 0px;
    padding: 0px;

}
.rowInput{
    width: 100%;
    margin-top: 12px;
}

.labelText{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
}

.inputText{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.inputText input{
    width: 100%;
    line-height: 24px;
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid #ddd000;

}
.inputText input:focus{
    outline: none;
}
.checkRow{
    display: flex;
    align-items: center;
    line-height: 24px;
    margin-top: 12px;
    justify-content: flex-end;
}
.btnInput{
    margin-top: 16px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.checkRow label{
    font-size: 12px;
}
.btnSubmit{
    border-radius: 4px;
    padding: 8px 16px;
    display: inline-block;
    color: black;
    font-size: 14px;
    background-color: rgb(76, 218, 76);
    margin: auto;
}
.btnSubmit:hover{
    cursor: pointer;
    background-color: rgb(68, 201, 68);
}
.btnSubmit:active{
    background-color: crimson;
    color: white;
}
.notify{
    margin-top: 8px;
    font-size: 13px !important;
    color: red;
    width: 100%;
    text-align: center;
}